header{
background-color: rgb(255, 255, 255);

}


#call-to-action {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: larger;
    display: flex;
    justify-content: flex-end;
    background-color: rgb(50, 195, 221);
    border: solid 2px;
    border-radius: 20px;
    padding: 20px 50px; /* Adjust padding for button size */
    color: white;
}


.navbar-container {
    display: flex;
    align-items: center; /* Center items vertically */
    justify-content: space-between; /* Space items apart, pushing button to the right */
    background-color: rgb(255, 255, 255);
    height: 30px;
    width: 100%; /* Assuming full width */
    padding: 0 20px; /* Add padding for space around navbar contents */
}


#email {
        
        font-family: sans-serif;
        margin-left: 45%;
        text-decoration: none; 
        color: rgb(50, 195, 221);
        font-size: 20px;
        width: 200px;
}


#navbar {
    text-align: center;
    margin: 50px;
}

#buttons {
    margin-right: 0%;
    list-style-type: none; 
    padding:0% 
}

#buttons li {
    display: inline-block; /* Display list items in a row */
    margin-right: 10px; /* Add spacing between items */
}

#buttons li a {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    font-family: sans-serif ;
    background-color: rgb(50, 195, 221);
    text-decoration: none; /* Remove underline from links */
    color: rgb(255, 255, 255); /* Set link color */
    padding: 8px 16px; /* Add padding to each link */
    border: 1px solid black; /* Add border for visual separation */
    border-radius: 5px; /* Rounded corners */
}


#footer-info {
   font-family: sans-serif;
  display: flex;
  justify-content: center; /* Horizontally center */
  align-items: center;     /* Vertically center */
  height: 100vh;
}

@media screen and (max-width: 600px) {
    #navbar li {
        float: none;
    }
}